.container{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.inputType input{
    width: 15rem;
    height: 2rem;
}

.submitBtn{
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 5px;
    background-color: blue;
}

.container h1{
    color: white;
}